<!-- Accepted papers -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].accepted_papers.section | default: "accepted_papers" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].accepted_papers.title | default: "Accepted papers" }}</h2>
        <!--h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].accepted_papers.text | default: "" }}</h3-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="large text-muted">
          <table class="table table-hover">
            <thead>
              <th></th>
              {% if row.size > 2 %}
              <th></th>
              {% endif %}
            </thead>
            <tbody>
              {% for row in site.data.sitetext[site.locale].accepted_papers.papers %}
              <tr>
                <td>
                  <p class="fw-bold">
                    {{ row[0] }}
                    {% if row.size > 2 and row[2] contains "Best Paper Award" %}
                      <span class="badge bg-success ms-2">🏆 Best Paper Award</span>
                    {% elsif row.size > 2 and row[2] contains "Honorable Mention" %}
                  <span class="badge bg-info ms-2">⭐ Honorable Mention</span>
                  {% elsif row.size > 2 and row[2] contains "Special Recognition Award" %}
                  <span class="badge bg-info ms-2">⭐ Special Recognition Award</span>
                  {% endif %}
                </p>
                  <p>{{ row[1] }}</p>
                </td>
                {% if row.size > 3 %}
                <td> <a href="{{row[2]}}" target="_blank">[PDF]</a>
                {% if row.size > 4 %}
                  <a href="{{row[3]}}" target="_blank">[vid]</a>
                {% endif %}
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.accepted_papers.section | default: "accepted_papers" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.accepted_papers.title | default: "Accepted papers" }}</h2>
        <!--h3 class="section-subheading text-muted">{{ site.data.sitetext.accepted_papers.text | default: "" }}</h3-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="large text-muted">
          <table class="table table-hover">
            <thead>
              <th></th>
              {% if row.size > 2 %}
              <th></th>
              {% endif %}
            </thead>
            <tbody>
              {% for row in site.data.sitetext[site.locale].accepted_papers.papers %}
              <tr>
                <td> <p class="fw-bold">{{ row[0] }}</p> <p>{{ row[1] }}</p> </td>
                <td> <a href="{{row[2]}}" target="_blank">[PDF]</a>
                {% if row.size > 3 %}
                  <a href="{{row[3]}}" target="_blank">[vid]</a>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End Accepted papers -->
